.signup-card {
  width: 484px;
  height: 598px;
  border-radius: 76px;
  background: #f5c147;
  text-align: center;
}
.signup-img {
  width: 188px;
  height: 44px;
  border-radius: 22px;
  margin: 25px 0px 20px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.signup-title {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.sign-first-inp,
.sign-last-inp,
.sign-email {
  width: 378px;
  height: 60px;
  border-radius: 17px;
  border: 3px solid #000;
  background: #fff;
  color: #787878;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 22px;
  margin-bottom: 20px;
}
.sign-div {
  position: relative;
  margin-bottom: 16px;
}
.sign-pass {
  width: 378px;
  height: 60px;
  border-radius: 17px;
  border: 3px solid #000;
  background: #fff;
  color: #787878;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 22px;
}
.sign-eye {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 80px;
  top: 20px;
}
.login-text {
  color: #0027f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.signup-btn {
  width: 203px;
  height: 62px;
  border-radius: 23px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}
